{% load static %}

<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Project for helping identify missing people during disasters">
  <meta name="author" content="Team Disaster Developers">

  <title>FindThem</title>
  <!-- Favicon -->
  <link href="{% static 'assets/img/brand/favicon.png' %}" rel="icon" type="image/png">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' %}" rel="stylesheet">
  <!-- Icons -->
  <link href="{% static 'assets/vendor/nucleo/css/nucleo.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <!-- Argon CSS -->
  <link type="text/css" href="{% static 'assets/css/argon.min.css' %}" rel="stylesheet">
  <!-- Docs CSS -->
  <link type="text/css" href="{% static 'assets/css/docs.min.css' %}" rel="stylesheet">

</head>

<body>
    <header class="header-global">
            <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-dark navbar-transparent headroom">
                <div class="container">
                <a class="navbar-brand mr-lg-5" href="{% url 'home' %}">
                    <img src="{% static 'assets/img/brand/white.png' %}">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbar_global">
                    <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                        <a href="{% url 'home' %}">
                            <img src="{% static 'assets/img/brand/blue.png' %}">
                        </a>
                        </div>
                        <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                            <span></span>
                            <span></span>
                        </button>
                        </div>
                    </div>
                    </div>
                    <!-- <ul class="navbar-nav align-items-lg-center ml-lg-auto">
                    <li class="nav-item d-none d-lg-block ml-lg-4">
                    <form action="/search" method="GET" class="form-inline row text-align-center">
                        <div class="form-group col-8">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-search"></i></span>
                                </div>
                                <input class="form-control" placeholder="Search" type="text" name="keyword" id="search">
                            </div>
                            </div>
                        
                        <div class="text-center col-4">
                            <button type="submit" class="btn btn-danger my-4">Search</button>
                        </div>
                    </form>
                    </li>
                    </ul> -->
                    <ul class="navbar-nav navbar-nav-hover align-items-sm-center ml-sm-auto">
                            {% if user.is_authenticated %}
                                {% if user.profile.avatar %}
                                    <li class="nav_item">
                                        <img src="/{{user.profile.avatar}}" style="float: left; border-radius: 100%; width: 50px; height: 50px;" />
                                    </li>
                                {% endif %}
                                <li class="nav-item dropdown">
                                        <a class="nav-link" data-toggle="dropdown" href="#" role="button">
                                        <i class="ni ni-ui-04 d-lg-none"></i>
                                        <span class="nav-link-inner--text" style="text-transform:uppercase">{{user.username}}</span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-l">
                                        <div class="dropdown-menu-inner">
                                            <a href="{% url 'search' %}" class="media d-flex align-items-center">
                                            <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                                                <i class="ni ni-spaceship"></i>
                                            </div>
                                            <div class="media-body ml-3">
                                                <h6 class="heading text-primary mb-md-1">find missing people</h6>
                                            </div>
                                            </a>
                                            <a href="#" class="media d-flex align-items-center">
                                            <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                                                <i class="ni ni-palette"></i>
                                            </div>
                                            <div class="media-body ml-3">
                                                <h6 class="heading text-primary mb-md-1">profile</h6>
                                            </div>
                                            </a>
                                            <a href="{% url 'logout' %}" class="media d-flex align-items-center">
                                            <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                                                <i class="ni ni-ui-04"></i>
                                            </div>
                                            <div class="media-body ml-3">
                                                <h6 class="heading text-warning mb-md-1">logout</h6>
                                            </div>
                                            </a>
                                        </div>
                                        </div>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'search' %}" role="button">
                                        <i class="ni ni-ui-04 d-lg-none"></i>
                                        <span class="nav-link-inner--text">Find Missing People</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'login' %}" role="button">
                                        <i class="ni ni-ui-04 d-lg-none"></i>
                                        <span class="nav-link-inner--text">Login</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'signup' %}" role="button">
                                        <i class="ni ni-ui-04 d-lg-none"></i>
                                        <span class="nav-link-inner--text">Signup</span>
                                    </a>
                                </li>
                            {% endif %}
                    </ul>
                </div>
                </div>
            </nav>
    </header>

    <main>

            {% block content %}{% endblock %}

    </main>




    <footer class="footer has-cards">
            <div class="container container-lg">
              <div class="row">
                <div class="col-md-6 mb-5 mb-md-0">
                  <div class="card card-lift--hover shadow border-0">
                    <a href="./examples/landing.html" title="Landing Page">
                      <!-- <img src="./assets/img/theme/landing.jpg" class="card-img"> -->
                    </a>
                  </div>
                </div>
                <div class="col-md-6 mb-5 mb-lg-0">
                  <div class="card card-lift--hover shadow border-0">
                    <a href="./examples/profile.html" title="Profile Page">
                      <!-- <img src="./assets/img/theme/profile.jpg" class="card-img"> -->
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row row-grid align-items-center my-md">
                <div class="col-lg-6">
                  <h3 class="text-primary font-weight-light mb-2">Thank you for supporting us!</h3>
                  <h4 class="mb-0 font-weight-light">Let's get in touch on any of these platforms.</h4>
                </div>
                
              </div>
              <hr>
              <div class="row align-items-center justify-content-md-between">
                <div class="col-md-6">
                  <div class="copyright">
                    &copy; 2018
                    <a href="https://www.creative-tim.com" target="_blank">Disaster Developers</a>.
                  </div>
                </div>
                <div class="col-md-6">
                  <ul class="nav nav-footer justify-content-end">
                    <li class="nav-item">
                      <a href="https://www.creative-tim.com" class="nav-link" target="_blank">Disaster Developers</a>
                    </li>
                    <li class="nav-item">
                      <a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">About Us</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
    </footer>


    <!-- Core -->
    <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/vendor/popper/popper.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/vendor/headroom/headroom.min.js' %}"></script>
    <!-- Optional JS -->
    <script src="{% static 'assets/vendor/onscreen/onscreen.min.js' %}"></script>
    <script src="{% static 'assets/vendor/nouislider/js/nouislider.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
    <!-- Argon JS -->
    <script src="{% static 'assets/js/argon.min.js' %}"></script>
    
</body>
</html>
